
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";
/*@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";*/
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$basicColor: #fff;
$primaryColor: #E82E57;
$secondaryColor: #ec6498;
$textColor: #000;
$secondaryText: #4e4e4e;
$helpColor: #cd5c5c;
$backgroundOne: rgba(255,255,255,0.9);
$borderColor: #e8e8e8;
$headingFont: 'Open Sans', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$commonFont: '';
%backgroundCenteredImage {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
%headerFlex {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
$break-small: 320px;
$break-medium: 1024px;
$break-large: 1280px;
$break-xl: 1366px;
/*$break-large: 1024px;*/
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
* {
	margin: 0;
	padding: 0;
	/*color: $textColor;*/
}
#app {
	overflow: hidden;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
}
.en, .itl {
	
	h1, h2, h3, h4, h5, h6, .logo a, .block h2 {
		font-family: $headingFont;
	}
	.block h4, .footer h3, .footer h3, .event-item h1, .biography h1, article h4, .news-detailed h1, .albumn-description h3, .slider h3 {
		font-family: $secondaryFont;
	}
}
.ka {
	$headingFont: "BPG Nateli Mtavruli", sans-serif;
	$secondaryFont: "Gugeshashvili_Rachveli", sans-serif;
	$commonFont: "BPG Ingiri Arial", sans-serif;

	body, input, textarea, li, blockquote, p, .event-month, small	{
		font-family: $commonFont;
		font-size: 16px;
	}
	h1, h2, h3, h4, h5, h6, .see-more, header li {
		font-family: $headingFont;
		font-weight: 900;
	}
	.block h4, .footer h3, .footer h3, .event-item h1, .biography h1, 
	article h4, .news-detailed h1, .albumn-description h3, .slider h3, .tab-intro h3, .top-event > div {
		font-family: $secondaryFont;
		/*font-size: 20px;*/
	}
	.see-more {
		font-weight: 800;
	}
	.footer h3 {
		font-size: 20px;
	}
	.page-banner h2 {
		font-size: 4rem;
	}
	.news article h4, .block h4, .footer h5 {
		font-size: 1rem;
	}
	.news article h3, .news-aside h4, .tab-intro h3 {
	    font-size: 1.4rem;
	}
	
}
.unscrollable {
	/*position: fixed;*/
	overflow: hidden;
}
header, .logo, .social-container, .news-container, .page-banner {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
p {
	margin-bottom: .5rem;
}
.burger-menu {
	width: 35px;
	height: 35px;
	margin-left: 20px;
	padding: 5px;
 	background: #000;
 	transition: background 0.5s;
    

 	& > div {
		width: 90%;
	    height: 3px;
	    background: #fff;
	    margin: auto;
	    margin-top: 4px;
	    transition: all 0.5s;
 	}
 	&:hover, &:active, &:focus {
 		background: $primaryColor;
 	}
}
.close-burger {
	.first-child {
	 	transform: rotate(45deg);
		position: relative;
		top: 6px;
	}
	.second-child {
	 	transform: rotate(-45deg);
	   	position: relative;
	}
	.third-child {
	 	opacity: 0;
	}
}
.header-fixed {

	&.active {
		-webkit-transform: translateY(0);
	    transform: translateY(0);
	    nav {
	    	display: none;
	    }
	}
	.burger-menu {
		background: #fff;
		& > div {
	    	background: #000;
	 	}
	}
}

header {
	padding: 0 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    background: hsla(0,0%,100%,.9);
    position: relative;
    z-index: 140;

    nav {
    	display: none;
    }
    .lang {
    	display: none;
    }
}
.logo{
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 200px;
    flex-direction: column;
    justify-content: center;

    a {
    	/*font-family: Open Sans,sans-serif;*/
	    font-weight: 900;
	    font-size: 20px;
    }
    span {
    	text-transform: uppercase;
	    color: #e82e57;
	    font-weight: 900;
	    font-size: .7rem;
    }
}
.social-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 9800;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s,-webkit-transform .8s;
    color: #fff;
    background: rgba(0,0,0,.8);
}
.active nav {
	display: block;
}
.subs {
	ul {
		max-height: 0;
		visibility: hidden;
		transition: all 0.5s;
		opacity: 0;
	}
	li:last-child {
		border-bottom: 0px;
	}
	i {
		padding-left: 10px;
	}
	&.active {
		ul {
			max-height: 500px;
			visibility: visible;
			width: 90%;
			margin-left: 10%;
		}
	}
	&.active ul {
		max-height: 500px;
		visibility: visible;
		opacity: 1;
	}
}



/*
//====================================
// MOBILE HEADER
//====================================
*/
.header-mobile {
	display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(245, 245, 245, 0.93);
    /*rgb(245, 245, 245);*/
    /*hsla(0,0%,100%,.96);*/
    z-index: 120;
    min-height: 100%;
    &.active {
    	display: block;
    }
    nav {
    	position: relative;
    	top: 100px;
    }
    li {
	    padding: 0;
	    margin-top: 10px;
	    border-bottom: 1px solid;
	    padding-bottom: 5px;
	    list-style: none;
	    text-transform: uppercase;

	    &.active {
	    	color: #e82e579e;
    		font-weight: 700;
	    }
	}
	&.active {
		.lang {
			display: inline-block;
		    position: relative;
		    top: 100px;
		}
	}
}
.lang a.active {
	font-weight: 900;
    text-decoration: underline;
}
/*
//====================================
// SLIDER
//====================================
*/
.slider {
	height: calc(60vh - 80px);
    overflow: hidden;
    /*margin-bottom: 30px;*/

    .slick-dots {
    	bottom: 10%;
    	li  {

    		& button:before {
			    color: #e82e57;
			    font-size: 10px;
		    }
		}
    }
    h2, h3 {
    	display: none;
		text-align: center;
		text-transform: uppercase;
	}
    h2 {
		color: $basicColor;
		padding-top: 35vh;
		/*font-size: 3rem;*/
		font-size: 2rem;
	    font-weight: 900;
	    opacity: 0.8;
	}
	h3 {
		color: $primaryColor;
		font-family: $secondaryFont;
	}
	

	div {
		@extend %backgroundCenteredImage;
		height: 100%;
	}
	img {
		width: 100%;
	}
	.slick-dotted .slick-slider {
		margin-bottom: 0px;
	}
}
/*
//====================================
// BLOCK CONTAINER
//====================================
*/

.block {
	padding: 30px 20px;

	&.block-dark {
		color: $basicColor;
		background-color: rgb(22, 22, 22);
	}
	&.block-dark-secondary {
		color: $basicColor;
		background-color: rgb(29, 29, 35);
	}
	h2, h4 {
		text-align: center;
	}
	h2 {
		font-weight: 900;
	    text-transform: capitalize;
	    color: inherit;
	}
	h4 {
		font-weight: 600;
	    text-transform: uppercase;
	    font-size: .7rem;
	    letter-spacing: 2px;
	    margin-bottom: 30px;
	    color: #e82e57;
	}
}
/*
//====================================
// CENTER CONTAINER
//====================================
*/

.center-container {
    max-width: 900px;
    margin: auto;

    .top-event {
    	border-top: 0;
    }
}
/*
//====================================
// EVENTS CONTAINER
//====================================
*/
.top-event {
    border-top: 0;
    font-weight: 900;
    color: #e82e57;

    .event-day {
    	font-size: 3.5rem;
    }
    & > div {
    	position: relative;
    	bottom: 20px;
    }
}

.events {
	li {
		min-height: 70px;
		border-top: 1px solid $borderColor;
		list-style: none;
		display: flex;
		align-content: center;
		color: $secondaryText;
		transition: all 1s;
		padding: 15px 40px;
		a {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    width: 100%;
		}
		div {
			text-align: center;
		}
		&:nth-last-child(2) {
			/*border-bottom: 1px solid $borderColor;*/
		}
	}
}
.highlight {
    color: #929292;
    /*text-align: right;*/
    /*padding-right: 50px;*/
} 
.events .top-event .highlight {
    color: #e82e57;
    display: flex;
    flex-direction: column;
}

.see-more {
    text-transform: uppercase;
    padding: 30px 30px 0px;
    text-align: center;
}

figure {
	margin: 0px -20px;
	div {
		display: none;
		transition: all 1s;
		position: relative;
		padding-top: 70%;
		@extend %backgroundCenteredImage;
	}
}
.gallery-video-container {

	& > div {
		position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    width: 100%;
	    margin-bottom: 20px;
	    &:nth-last-child(1) {
			margin-bottom: 0px;
		}
	}
	iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}
blockquote p {
    /*font-size: 1.2rem;*/
    color: gray;
}
.news-container {
	flex-direction: column;

	h4 {
		text-align: left;
		margin-bottom: 0;
	}
	article {
		margin-bottom: 20px;

		& > div {
			display: flex;
			justify-content: space-between;
		}
	}
}
.albumn-img {
	& > div {
		padding-top: 70%;
		transition: transform 0.5s;
		@extend %backgroundCenteredImage;
	}
}
article .see-more {
	text-align: right;
	padding: 0;
}
input, textarea {
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #2b2b2b;
	margin-bottom: 30px;
	color: inherit;
	&:focus {
		border: 0;
		border-bottom: 1px solid $primaryColor;
		outline: 0;
	}
}
.btn-submit {
	background-color: #e82e57;
    border: 0;
    padding: 10px 25px;
    color: #fff;
}
.footer {
	background: #131313;
	padding: 20px;
    color: #c5c5c5;
    h3 {
    	text-transform: uppercase;
	    font-weight: 100;
	    font-size: 15px;
	    letter-spacing: 2px;
    }
    li {
    	list-style: none;
	    color: #7b7b7b;
	    line-height: 24px;
	    position: relative;
	    border-bottom: 1px dashed #8080803d;
    	padding: 10px 0px;
    }
    .event-day {
    	font-weight: 100;
	    font-size: 2rem;
	    color: #929292;
    }
    h5 {
    	font-size: 14px;
    }
}
.page-banner {
	min-height: 220px;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
	@extend %backgroundCenteredImage;

	& > div {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background-color: rgba(0,0,0,.560784)
	}
	h2 {
		font-size: 2rem;
	    font-weight: 900;
	    text-transform: uppercase;
	    opacity: .8;
	    text-align: center;
	}
}
.secondary-banner {
	min-height: 170px;
}
.event-item {
	display: none;
	box-shadow: 2px 2px 4px grey;
    background: #fff;

	&.active {
		display: block;
	}
	h1 {
		padding-top: 20px;
    	text-align: center;
    	width: 70%;
	    margin: auto;
	    margin-bottom: 15px;
	    color: #e82e57;
	}
}
.event-item-body {
 	width: 100%;
	padding: 30px;
	min-height: 250px;
	background: hsla(0,0%,50%,.04);
}
.active .event-item-body {
    background: #131313;
    color: #c5c5c5;
}
.event-date, .event-date .top-event {
	text-align: center;
}
.top-event .event-month {
    position: relative;
    bottom: 18px;
    color: inherit;
}
.active .event-month {
    position: static;
}
.event-item-body i {
    width: 10px;
}
.event-item-body a {
    padding-left: 10px;
    color: #e82e57;
}
.events-container {
	.event-item {
		margin-top: 20px;
	}
}
.biography h1, .news-detailed h1 {
	color: #e82e57;
	margin-bottom: 20px;
}
.page-content {
	padding: 30px 20px;
	padding-top: 0;
}
.news article {
	h4 {
		font-weight: 600;
	    text-transform: uppercase;
	    font-size: .7rem;
	    letter-spacing: 2px;
	    margin-bottom: 30px;
	    color: #e82e57;
	}
	
}
.news-detailed {
	img {
		width: 100%;
	}
	h3 {
		font-size: 1rem;
	}
}
.share {
	padding-top: 20px;
}
aside {
	margin-top: 30px;
}
.news {
	h4 {
		margin-bottom: 20px;
	}
}
.tab-item {
    margin-bottom: 15px;
    background: #9e9e9e38;
    padding: 15px;
}
.tab-intro span {
    display: inline-block;
    width: 25px;
    height: 35px;
    background: #e82e57;
    vertical-align: middle;
    border-bottom-left-radius: 21px;
    border-top-right-radius: 21px;
}
.tab-intro {
	h3 {
	    display: inline-block;
	    font-family: Oswald,sans-serif;
	    padding-left: 20px;
	    font-size: 18px;
	}
	i {
	    font-size: 25px;
	    color: #fff;
	    position: relative;
	    left: 10px;
	    top: 5px;
	}
}
.tab-content {
    max-height: 0;
    opacity: 0;
}
.current .tab-content {
    max-height: 1000px;
    opacity: 1;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    max-width: calc(100% - 50px);
    margin-left: 30px;
    padding: 20px;
    border-top: 1px solid hsla(0,0%,100%,.45098);
}
.review-container {
	padding-top: 20px;
}
.albumn-items-container {
	max-width: 100%;
	/*overflow-x: scroll;*/
	img {
		margin-bottom: 20px;
	}
}
.albumn-item-container {
	display: none;
}
.gallery-video-chunk {
	display: flex;
	/*justify-content: space-around;*/
	flex-direction: column;

	/*.albumn-container {
		width: 48.3%;

		
	}*/
	.albumn-img {
			&:after {
			    content: '';
			    color: #fff;
			    height: 30px;
			    width: 30px;
			    background: url(/images/video_02.svg);
			    position: absolute;
			    top: calc(50% - 20px);
			    left: calc(50% - 20px);
			    padding: 20px;
			    transition: all 0.5s;
			}
			&:hover {
				&:after {
					background: url(/images/video_02_hover.svg);
				}
			}
		}
}
.gallery-video-items {
	/*padding: 0px 10%;*/
}
.video-item {
	/*padding: 0px 10%;*/

	iframe {
		margin: auto;
		display: block;
	}
}
.albumn-img {
    /*padding-bottom: 70%;*/
    position: relative;
    overflow: hidden;

    &:before {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	}
	&:hover {
		&:after {
			background: url(/images/video_02_hover.svg);
		}
	}
}
.albumn-description {
	margin-top: 20px;
	margin-bottom: 20px;
}
.video-item {
	position: relative;
    padding-top: 56%;
}
.gallery-video-item {
	.video-item {
		position: relative;
    	padding-top: 50%;
	}
	iframe {
		position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    height: 100%;
	    width: 100%;
	}
}
.img-fluid {
	width: 100%;
}
article {
	h3 {
		font-size: 1rem;
		text-transform: uppercase;
	}
	& > a {
		margin-bottom: 20px;
	}
	&:hover{
		.albumn-img:before {
		    background: rgba(0,0,0,.2);
		}
		.img {
			transform: scale(1.1);
		}
	}
}
.albumn-img {
		height: 70%;
	    width: 100%;
	    display: block;
	    position: relative;
	}
.albumn-container {
	& > a {

	}
	&:hover{
		.albumn-img:before {
		    background: rgba(0,0,0,.2);
		}
		.img {
			transform: scale(1.1);
		}
	}
}
.albumn-img {
	&:before {
		position: absolute;
	    width: 100%;
	    height: 100%;
		content: "";
	    background: rgba(0,0,0,.5);
	    z-index: 100;
	    -webkit-transition: background .5s;
	    transition: background .5s;
	}
}
.events.page-content ul {
	margin-top: 20px;
}
.events {
	.highlight {
		color: #929292;
	}
}
.news-aside {
	h4 {
		font-size: 1.5rem;
		color: #131313;
	}
}
.news article h4 {
	font-size: 0.8rem;
}
/*
=======================================
=======================================
=======================================
MEDIUM
=======================================
=======================================
=======================================
*/
@media screen and (min-width: $break-medium) {
/*	body {
		background: gray;
	}*/
	main {
		min-height: calc(100vh - 300px);
	}
	header {
		height: 90px;
		padding: 0px 60px;
	}
	.top-event {
		width: 80%;
		margin: auto;
	}
	.events li {
		&:hover {
			background-color: #e8e8e8;
		}
		a {
			flex-direction: inherit;
			align-items: center;
		}
	}
	.events a div {
	    width: 25%;
	    color: inherit;
	    text-align: center;
	}
	.event-item {
		h2 {
			padding-top: 30px;
		}
	}
	.event-date {
	    padding: 15px;
	}
	.highlight {
	    /*color: #929292;*/
	    text-align: right;
	    padding-right: 50px;
	}
	.gallery-photo-container {
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;
   	 	margin-left: -20px;
   	 	justify-content: space-between;

		figure {
		    width: 50%;
	/*	    min-height: 250px;
		    margin: 0;
		    max-height: 350px;*/
		    overflow: hidden;
		    &:hover {
				div {
					transform: scale(1.1);
				}
			}
		}
		img {
			display: none;
		}
	}
	figure {
		margin: 0;
		div {
			display: block;
		}
	}
	.news-container {
		flex-direction: inherit;
		justify-content: space-between;
		article {
			width: 31.5%;

		}
	}
	.news-detailed {
		width: 70%;
	}
	.news-aside {
	    width: 30%;
	    padding-left: 30px;
	}
	.btn-submit {
		width: 150px;
	}
	.footer {
		padding: 40px 0px;

		.center-container{
			display: flex;
			justify-content: space-between;
		}
		li {
			border: 0;
		}
	}
	.news-aside article {
		width: 100%;
	}
	.events-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.event-item {
		width: 32%;
		display: block;
	}
	.albumn-container {
		width: 48.5%;
	}
	.gallery-photo {
		width: 100%;
	}
	.gallery-photo-container .gallery-photo img{
		display: block;
		height: 70px;
		margin-bottom: 0;
	}
	.albumn-items-container {
		display: flex;
		justify-content: center;

		a {
			position: relative;
			&:hover {
				&:before {
					content: "";
				    display: block;
				    height: 100%;
				    width: 100%;
				    background: rgba(232,46,87,.34902);
				    position: absolute;
				}
			}
		}
	}
	.albumn-item-container {
		display: block;
		min-height: calc(100vh - 300px);
	    max-width: 900px;
	    margin: auto;
	    margin-top: 10px;
	    overflow: hidden;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    padding: 30px 0px;
	}
	#albumn-item {
		/*max-height: 100%;*/
	    width: 100%;
	    display: inline-block;
	    height: auto;
	}
	.gallery-video-chunk {
		flex-direction: inherit;
    	justify-content: space-between;
	}
	.news {
		.news-container {
			flex-wrap: wrap;
			article {
				width: 48.5%;
			}
		}
		.news-aside {
			article {
				width: 100%;
			}
		}
	}
	.albumn-items-container {
		.img-fluid {
			width: auto;
		}
	}
	.page-banner {
		min-height: 320px;
	}
	.secondary-banner {
		min-height: 170px;
		max-height: 170px;
	}
	.news article h4 {
		color: #929292;
	}
	.news-aside {
		article {
			h3 {
			    font-size: 1rem;
			    text-transform: uppercase;
			}
		}
		a {
			margin-bottom: 20px;
		}
	}
	.events.page-content ul {
		margin-top: 50px;

		li {
			padding: 0;
		}
		.highlight {
			padding: 0;
		}
	}
	.events {
		.highlight {
			text-align: right;
		}
		.highlight.date {
			text-align: left;
		}
	}
}
/*
=======================================
=======================================
=======================================
LARGE
=======================================
=======================================
=======================================
*/
@media screen and (min-width: $break-large) {
/*	body {
		background: gray;
	}*/
	.burger-menu {
		display: none;
	}
	.logo {
		min-width: 250px;
	}
	header .lang, .header nav, .header nav > ul, .header-fixed nav, .header-fixed nav > ul  {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
	}
	.subs.active ul {
		width: auto;
		margin-left: 0;
	}
	.lang {
		a {
			padding: 0px 5px;

			&.active {
				font-weight: 900;
    			text-decoration: underline;
			}
		}
	}
	a.social {
		width: 20px;
		margin: 0 10px;
		text-align: center;
	}
	.slider {
		height: calc(100vh - 90px);
		h2, h3 {
			display: block;
		}
		h2 {
			font-size: 5rem;
		}
	}
	.gallery-photo-container {
		figure {
			width: 25%;
		}
	}
	.gallery-video-container {
		display: flex;
    	justify-content: space-between;

		& > div {
			width: 48.5%;
			    padding-bottom: 26.25%;
		}
	}
	blockquote {
		text-align: center;
	}
	.news-container {
		article {
			&:hover{
				a {
					div {
						transform: scale(1.1);
					}
				}
				.see-more {
					color: $primaryColor;
				}
			}
		}
	}
	
	header.header, header.header-fixed {
		nav {

	    	& > ul  {
				li  {
					list-style: none;
					padding: 0 18px;
					text-transform: uppercase;
					font-size: 0.85rem;
					line-height: 90px;

					&.active {
						color: #e82e579e;
						font-weight: 700;
					}
					&:hover {
						color: $primaryColor;
						i {
							color: inherit;
						}
					}
				}
			}
	    }
	    .sub-nav {
			position: absolute;
		    display: block;
		    background: #ffffff;
		    border-top: 2px solid;
		    color: #000;
		    padding: 10px 10px 20px;
		    opacity: 0;
		    visibility: hidden;
		    box-shadow: 2px 2px 2px #d6d6d6;
		    transition: opacity 1s;
		    max-height: 200px;

			li {
				padding: 0;
				margin-top: 10px;
				line-height: 24px;
				font-weight: 100;
				&:hover {
					color: $primaryColor;
				}
			}

		}
		.subs {
			a:after {
				display: inline-block;
			    font-style: normal;
			    font-variant: normal;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			}
			i {
				padding-left: 3px;
		    	color: #c5c5c5;
			}
		}
	}
	header.header-fixed.active {
		nav {
			display: flex;
	    }

	}
	.contact {
		input {
			width: 32%;
		}
		.btn-submit {
			width: 150px;
		}
	}
	form > div {
		display: flex;
		justify-content: space-between;
	}
	.footer {
		div {
			div{
				max-width: 300px;
			}
		}
	}
	
}
/*
=======================================
=======================================
=======================================
XL
=======================================
=======================================
=======================================
*/
@media screen and (min-width: $break-xl) {
	.social-container {
		min-width: 250px;
		justify-content: flex-end;
	}
	.center-container {
		max-width: 1140px;
	}
	.focused-container {
		max-width: 900px;
		margin: auto;
	}
	.block {
		padding: 50px;
	}
	.review-container {
		padding-top: 0px;
	}
	.gallery-photo-container {
		margin-left: -50px;
		margin-right: -50px;
	}
}
/*$break-large*/